/* body{
    height: 100vh;
    width:100vw;
} */
.landing-container{
    /* background-color: aqua; */
    display:flex;
    height: 100vh;
}
.landing-item>img{
    width: 50%;
}
.landing-item{
    display: grid;
    place-items: center;
    flex:1;
    font-size: 2em;
}
.landing-item>ul{
    /* display: flex;
    flex-direction: column; */
    list-style: none;
}
.landing-item>p{
    background-color: var(--primary);
    padding: 10px 10px;
    border-radius: 5px;
    color:white;
}
@media screen and (max-width:600px){
    .landing-container{
        /* background-color: aqua; */
        display:flex;
        flex-direction: column;
        height: 100vh;
    }
    .landing-item{
        flex:1;
        /* width:100vw; */
        /* border: 1px solid red; */
        display: grid;
        place-items: center;
        position: relative;
        overflow: hidden;
    }
    .landing-item:first-child>img {
        width:100%;
        max-width: 280px;
        object-fit: cover;
    }
    .landing-item>ul{
        position: absolute;
        list-style: none;
        display: flex;
        padding: 0px;
        margin: 0px;
        /* border: 2px solid green; */
        width: 300%;
        height: 100%;
        left: 0%;
        animation-name: slogan;
        animation-timing-function: ease-in-out;
        animation-duration: 10s;
        animation-iteration-count: infinite;
    }
    .landing-item>ul>li{
        width: 100%;
        height: 100%; 
        display: grid;
        place-items: center;
    }
    
    @keyframes slogan {
        0% {left:0%;}
        7% {left:0%}
        20% {left:-100%}
        33% {left:-100%;}
        46% {left:-100%;}
        64% {left:-200%;}
        77% {left:-200%;}
        90% {left:-200%;}
        100% {left:0%;}
    }
}