
:root{
    --primary: #FF731D;
    --ascent-dark: #051133;
    --ascent-light: #4479C5;
    --light: #fff;
    --dark: #121212;
}

.form-control{
    border: 1px solid var(--primary);
}

.form-control::placeholder{
    font-weight: 300;
    font-style: italic;
    color: var(--ascent-light);
    font-size: 14px;
}

.btn{
    border-radius: 10px;
}

.btn-primary{
    background-color: var(--primary);
    border: var(--primary);
    font-size: calc(0.5rem + 1vh);
}
.btn-primary:focus{
    background-color: #B25014;
}

.text-ascent{
    color: var(--ascent-dark);
}

.fs-big{
    font-size: 40px;
}
.f-custom{
    color: var(--ascent-dark);
}
#slogan-1{
    animation: 1s ease-out 0s 1 slideLeft1;
    
}
#slogan-2{
    animation: 2s ease-out 0s 1 slideLeft2;
}
#slogan-3{
    animation: 3s ease-out 0s 1 slideLeft3;
}

    @keyframes slideLeft1 {
        0% {
            transform: translateX(-100%);
        }
        100% {
            transform: translateX(0);
        }
    }

@keyframes slideLeft2 {
    0% {
        transform: translateX(-300%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideLeft3 {
    0% {
        transform: translateX(-500%);
    }
    100% {
        transform: translateX(0);
    }
}

